*{
    margin: 0;
    padding: 0;

}
:root{
    --primary:rgba(14, 11, 11, 0.801);
    --secondary: rgb(218, 172, 24);
    --success:rgb(76, 91, 231);
    --danger:rgb(250, 57, 57);
}

/* Header */

.header{
    background-color: var(--secondary);
    height: 15vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    
}
.navbar__image{
    display: none;
}

.header__image{
    margin-left: 10%;
}
.header__image>a{
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary); 
}

.header__image>a>img{
    height: 31px;
    width: 62px;
}

.header__links {
    margin-right: 20%;
}

.header__links>a{
padding: 10px 15px;
font-size: 20px;
text-decoration: none;
color: var(--primary); 
border: 2px solid var(--secondary);

}

.header__links a:hover{
    color: rgb(19, 31, 201);
    font-size: 22px;
    border-bottom: 2px solid rgb(19, 31, 201);
    transition: all 0.3s;
}

/* Home */
.Home__loading{
    height: 100px;
    display: block;
    margin: 42px auto;
}
.Home__oops{
    display: inline-block;
    margin: 38px auto;
}

/* Search */

.search{
    display: block;
    width: 100%;
}
.search__input{
    width: 64%;
    display: inline-block;
    padding: 9px 0 16px 33px;
    font-size: 20px;
    margin-left: 8%;
    margin-top: 20px;
    outline: none;
    border-radius: 6px;
    box-sizing: border-box;
}
.search__input:focus{
    
    box-shadow: -1px 2px 6px 0px brown;
}
.search__button{
    background-color: var(--success);
    height: 42px;
    width: 122px;
    margin-left: 3%;
    font-size: 17px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.search__button:hover{
    background-color: var(--secondary);
}

/* Alerts */
.Alerts{
    height: 77px;
    width: 61vw;
    margin: 2% 12%;
    border-radius: 12px;
    background-color: lightcoral;
    position: absolute;
    top: 26%;
    opacity: 0.9;
}
.Alerts p{
    font-size: 77%;
    text-align: center;
}
.Alerts  img{
    height: 23px;
    display: inline-block;
    position: relative;
    top: 31%;
    left: 8%;
}


.showDisplay{

    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.displayShows{
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
}
.displayShows :hover{
    transform: scale(1.03);
}
.displayShows >a> img{
    height: 81%;
    width: 93%;
    margin: 8px auto;
    border-radius: 12px;
}
.data__h4{
    margin: 4px 61px;
    display: inline;
    font-size: 13px;
    padding: 2px 3px;
}

.displayShows__data>a{
    text-decoration: none;
    text-align: center;
    color:var(--primary);
}
.SingleShow{
    display: flex;
    
}

.SingleShow>img{
    height: 286px;
    width: 339px;
    margin: 70px 10px 20px 87px;
}
.SingleShow__data{
    display: flex;
    flex-direction: column;
    margin: 49px 20px;
    background-color: rgb(252, 235, 168);
    height: 371px;
    width: 50%;
    border: 2px solid rgb(217, 234, 240);
    border-radius: 12px;
    justify-content: center;
}
.SingleShow__data p{
font-size: 20px;
    margin: 10px 20px;
}
.SingleShow__name{
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.SingleShow__genres{
    border: 2px solid rgba(63, 250, 57, 0.16);
    display: inline;
    padding: 7px;
    margin-left: 1%;
    border-radius: 12px;
    background-color: rgba(224, 236, 84, 0.23);
}
.SingleShow__data >p>img{
    margin-right: 15px;
}
.SingleShow__summary h3{
    margin: 11px 3px;
}
.SingleShow__summary{
    margin: 0px 170px;
    text-align: left;
    padding: 23px 19px;
    border: 2px solid lightgray;
    border-radius: 12px;
    background-color: rgb(245, 111, 111);
}
.SingleShow__data__url{
    overflow-wrap: break-word;
    margin-left: 15px;
}
.SingleShow__data__url img{
    margin-right: 12px;
}
 
 .SingleShow__data__url > img{
     margin-left: 4%;
     margin-right: 4%;
 }

/* About */

.about{
    display: flex;
    justify-content: space-between;
}
.user__svg1{
    position: relative;
    top: 7%;
    right: 41%;
}
.user__svg2{
    position: relative;
    top: 1%;
    left: 28%;
}
.user__svg2__h4{
    margin-left: 128px;
    margin-top: -20px;
    font-weight: 200;
}
.user__svg3 > img{
    display: inline-block;
    position: relative;
    left: 28%;
    top: 7%;
    font-weight: 200;
}
.user__svg3__h4{
    margin-left: 130px;
    margin-top: -23px;
    font-weight: 200;
}
.user__svg3__h3{
    margin-left: 125px;
margin-top: -20px;
}

.about__user{
    margin: 78px auto;
    width: 30%;
    border: 2px solid #b3cb3f80;
    border-radius: 12px;
    background: radial-gradient(#ff8f0075,cornsilk);
}
.about__user p{
    display: inline-block;
    margin-left: 115px;
    margin-top: 11px;
   
   
}
.about__user h3{
  text-align: center;
  
}

.about__user h2{
    font-size: 14px;
    margin-top: 114px;
    margin-left: 219px;
}
.user__img{
height: 119px;
width: 127px;
border-radius: 63px;
margin-left: 138px;
padding: 14px 0px;
}

.about__heading{
    border: 2px solid black;
    margin: 78px auto;
    width: 17%;
    padding: 9px 43px;
    border-radius: 12px;
    background: radial-gradient(#ff8f0075,#6e6130);
}
.about__heading ol{
    padding: 11px 6px
}


/* responsive */

 @media screen and (min-Width:300px) and (max-Width:500px) {

   
    .header{
        display: block;
        height: 15vh ;
    }
     .navbar__image{
        display: inline-block;
        height: 42px;
        padding: 19px 18px;  
        transition: all 1s;
    }

       .navbar__image:hover{
           transform: rotate(90deg) ;
           transition: all 1s ease;
       }
       .header__image{
           display: none; 
           position: initial;
           margin-left: 158px;
       }
       .header__links{
           display: none;
           position: relative;
           bottom: 103px;
           left: 171px;           
       }
       .search__input{
           margin-left: 15%;
       }
       .search__button{
        margin-top: 4%;
        margin-left: 28%;
       }
       .search__button:hover{
        background-color: var(--secondary);
    }
       .showDisplay{
        grid-template-columns: repeat(2,1fr);
        overflow-x: hidden;
       }
       .displayShows{
           margin: 20px 19px;
       }
       .displayShows__data >a{
           text-align: left;
       }
       .data__h4{
           margin: 4px 8px;
       }
       .SingleShow{
           flex-direction: column;
           overflow-x:hidden;
       }
       .SingleShow > img{
        height: 274px;
        width: 265px;
        border-radius: 10px;
        margin: 110px 11px 27px 47px;
       }
       .SingleShow__data{
           width: 87%;
           margin: 22px ;
       }
       .SingleShow__summary{
           margin: 0 22px;
       }
       .SingleShow__data{
        width: 90%;
       }
       .SingleShow__data__url{
           overflow-wrap: break-word;
        }

        .SingleShow__data__url > img{
            margin-left: 4%;
            margin-right: 4%;
        }
       .about{
           flex-direction: column;
       }
       .about__user{
        margin: 15px auto;
        width: 81%;
       }
       .user__img{
        margin-left: 80px;
        height: 122px;
        /* transform: rotate(-100deg); */
       }
       .user__svg1{
        position: initial;
        margin-left: -146px;
        margin-bottom: -25px;
    }
    .user__svg2{
        position: initial;
        margin-left: 64px;
        margin-top: 12px;
        display: inline-block;
       }
       .user__svg3{
        margin: 23% 22%;
        display: flex;
       }
       .user__svg3 img{
           
        margin-left: 0%;
        top: -30px;
        left: -1px;
    
    }
    .user__svg3 {
        margin: 13% 23%;
    }
    .user__svg3__h4 {
        margin-left: 11px;
        margin-top: -34px;
    }
    .user__svg3__h3 {
        margin-left: 86px;
        margin-top: -24px;
    }
      

       .about__h4{
        margin: -24px 102px;
        font-size: 15px;
        font-weight: 200;
       }
       .about__user h2{
        font-size: 14px;
        margin-top: 114px;
        margin-left: 55%;
        margin-bottom: 18px;
       }
       .about__heading{
        margin: 48px auto;
        width: 61%;
       }
 }

 @media screen and (min-Width:501px) and (max-Width:700px){
     
    .header{
     height: 20vh;
    }
    .navbar__image{
        display: block;
        height: 42px;
        padding: 19px 18px;  
        transition: all 1s;
    }

    .header__image{
        display: inline-block;
        position: absolute;
        top: 12%;
        left: 43%;      
    }
    .header__links {
        margin-left: 41%;
        margin-top: 10%;
    }
    .search__input{
        margin-left: 17%;
    }
    .search__button{
        margin-top: 3%;
        margin-left: 35%;
    }
    .search__button:hover{
        background-color: var(--secondary);
    }
    .showDisplay{
        grid-template-columns: repeat(2.5,1fr);
        overflow-y:hidden ;
    }

    .SingleShow{
        flex-direction: column;
    }
    .SingleShow > img{
        height: 274px;
        width: 265px;
        border-radius: 10px;
        margin: 110px 11px 27px 19%;
       }
      
       .SingleShow__data{
           width: 87%;
           margin: 22px ;
       }
       .SingleShow__summary{
           margin: 0 22px;
       }
       .about{
        flex-direction: column;
    }
    .about__user{
     margin: 15px auto;
     width: 81%;
    }
    .user__img{
     margin-left: 37%;
     height: 121px;
    }
    .user__svg1{
     position: initial;
     margin-left: -146px;
     margin-bottom: -25px;
 }
 .user__svg2{
     position: initial;
     margin-left: 34%;
     margin-top: 12px;
     display: inline-block;
    }
    .about__h4{
     margin: -25px 40%;
     font-size: 15px;
     font-weight: 200;
    }
    .about__user h2{
     font-size: 14px;
     margin-top: 114px;
     margin-left: 59%;
     margin-bottom: 18px;
    }
    .about__heading{
     margin: 48px auto;
     width: 61%;
    }
 }

 @media screen and (min-Width:701px) and (max-Width:900px){
    .about {
        
        flex-direction: column;
    }
    .about__user{
        width: 45%;
    }
    .user__svg1 {
        right: 46%;
        top: 8%;
    }
    .search__button:hover{
        background-color: var(--secondary);
    }
     
    .displayShows__data p.h4{
        margin: -6px 33%;
    }
    .user__svg2 {
        position: relative;
        top: 6%;
        left: 27%;
    }
    .about__heading{
        width: 42%;
    }
 }


